<footer>
  <div class="flex justify-center items-center bg-gradient-to-r from-pink-400 to-purple-600 pt-28 pb-28 mt-8">
    <div class="w-1/2 text-white">
      <div>
        <span class="font-extrabold text-4xl">Alex Karpov</span>
      </div>
      <div class="pt-2">
        Check me out on <a href="https://www.linkedin.com/in/alex-karpov-4248681b/" class="text-purple-600 font-bold underline underline-offset-4">LinkedIn</a>
      </div>
    </div>
  </div>
</footer>